@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
:root {
  --main-nav-color: #fa4e01;
  --main-button-color: #36a63c;
  --category-color: #c01313;
}
